<div class="login-container">
    <div class="misc-container">
      <form class="container-bg">
        <img class="logo" src="../../assets/rabbit.png" />
        <div class="name-container">
            <label class="name-field" for="name">
              Name
            </label>
            <input class="name-input" id="name" type="text" placeholder="Name" (keyup)="onKey($event, 'name')">
          </div>
        <div class="email-container">
            <label class="email-field" for="email">
              Email
            </label>
            <input class="email-input" id="email" type="text" placeholder="Email" (keyup)="onKey($event, 'email')">
        </div>
        <div class="username-container">
          <label class="username-field" for="username">
            Username
          </label>
          <input class="username-input" id="username" type="text" placeholder="Username" (keyup)="onKey($event, 'username')">
        </div>
        <div class="password-container">
          <label class="password-field" for="password">
            Password
          </label>
          <input class="password-input" id="password" type="password" placeholder="******************" (keyup)="onKey($event, 'password')" required minlength="6">
        </div>
        <div class="button-container">
          <button class="option-button" type="button" (click)="onSubmit()">
            Create Account
          </button>
        </div>
      </form>
      <p class="credits">
        &copy;2020 FinanceApp. All rights reserved.
      </p>
    </div>
  </div>