<div class="container">
    <h1>User Registration</h1>
    <form>
        <div class="form-group">
            <label form="name">Name</label><br>
            <input type="text" name = "name" class="form-control" placeholder="Enter Name">
        </div>
        <pre></pre>
        <div class="form-group">
            <label form="email">Email</label><br>
            <input type="text" name = "email" class="form-control" placeholder="Enter Email">
        </div>
        <pre></pre>
        <div class="form-group">
            <label form="username">Username</label><br>
            <input type="text" name = "username" class="form-control" placeholder="Enter Username">
        </div>
        <pre></pre>
        <div class="form-group">
            <label form="password">Password</label><br>
            <input type="text" name = "password" class="form-control" placeholder="Enter Password">
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Register</button>
    </form>
</div>