.side-nav {
    background: #b9b8ff;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #707070;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}

.logo {
  background: #ffffff;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.logo-text{
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.btn-close{
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.fa-times{
  color: #000000;
  font-size: 24px;
}

.side-nav-collapsed{
  width: 18.5625rem;
}

.side-nav-nav{
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.side-nav-nav-item{
  width: 100%;
  margin-bottom: 0.625rem;
}

.side-nav-nav-link{
  display: flex;
  align-items: center;
  height: 3rem;
  color: #000000;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all .2s ease;
}

.side-nav-link-icon{
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

.side-nav-link-text{
  margin-left: 1.5rem;
}

.side-nav-nav-link:hover{
  background-color: #fff;
  color: #000;
}

.active{
  background-color: #fff;
}

.side-nav-link-icon, .side-nav-link-text{
  color:#000;
}




