<div class="side-nav" [ngClass]="collapsed ? 'side-nav-collapsed': ''">
  <div class="logo-container">
    <button class="logo">A</button>
    <div class="logo-text" *ngIf="collapsed">Angular</div>
    <button class="btn-close" *ngIf="collapsed">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <ul class="side-nav-nav">
    <li class="side-nav-item" *ngFor="let data of navData">
        <a class="side-nav-nav-link" [routerLink]="[data.routeLink]">
          <i class="side-nav-link-icon" [class]="data.icon"></i>
          <span class="side-nav-link-text" *ngIf="collapsed">{{data.label}}</span>
        </a>
    </li>
  </ul>
</div> 