<app-side-nav (onToggleSideNav)="onToggleSideNav($event)"></app-side-nav>

<div class="todo-container">
    <label for="addItemInput">What do you need to do?</label>
    <input #newItem placeholder="Enter task here" (keyup.enter)="addItem(newItem.value); newItem.value = ''" class="lg-text-input" id="addItemInput" />
    <button class="btn-primary" id="addBtn" (click)="addItem(newItem.value); newItem.value=''">Add task to my to-do list</button>
    <ul>
      <li *ngFor="let item of items" class = "listitem">
        <p *ngIf = "!item.done" class = active>
          {{item.description}}
        </p>

        <p *ngIf = "item.done" class = inactive>
          {{item.description}}
        </p>

        <button class="deletebutton" (click) = "deleteItem(item)">
          <i class="fal fa-trash-alt"></i>
        </button>
        <button class="checkbox" (click) = "completeItem(item)">  
          <i *ngIf = "!item.done" class = "fal fa-square">  </i>
          <i *ngIf = "item.done" class = "fal fa-check-square">  </i>
        </button>
      </li>
    </ul>
</div>

<app-body>
    [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
</app-body>