.heading {
    text-align: center;
}

.friends-list-container {
    justify-self:center;
    display: flex;
    width: 100%;
    position:relative;
    max-width: 600px;
    width: 85%;
    margin: 5rem auto;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.friends-requests-container {
    justify-self: center;
    display: inline-block;
    flex: 50%;
}

.friends-request-container {
    justify-self: center;
    display: inline-block;
    flex: 50%;
}

@media screen and (min-width: 600px) {
    .todo-container {
      width: 70%;
    }
}