<app-side-nav (onToggleSideNav)="onToggleSideNav($event)"></app-side-nav>

<h1 class="heading">Friend Hub</h1>

<div class="friends-list-container">
    <div class="friend-request-container">
        <li *ngFor="let request of requestsArr" class = "listitem">

        <h3 class="friend-name"> {{request}} </h3>

        <button class="accept-btn" (click)="acceptRequest('{{request}}')">
            Accept
        </button>

        <button class="deny-btn" (click)="blockRequest('{{request}}')">
            Decline
        </button>

        </li>
    </div>
    
    <div class="friend-request-container">
        <label class="field">Request Friends by Username</label>
        <input class="UserIn" placeholder="Enter Username" (keyup)="onKey($event, 'username')">
        <button class="request-btn" (click)="onSubmit()">Request Friend</button>
    </div>
</div>

<app-body>
    [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
</app-body>
